<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul>
        <% for( let i = 0; i < peliculas.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>">
                <% if (peliculas[i].generos){ %>
                    <%= peliculas[i].title %> - <%= peliculas[i].generos.name%> </a>


                <% } %>
                <ul>
                    <%for (let j=0; j < peliculas[i].actores.length; j++) { %>
                        <li>
                            <%= peliculas[i].actores[j].first_name %>
                        </li>
                    <% }%>
                </ul>
                
        </li>
        <% } %>

    </ul>
</body>

</html>